{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create new page
{% endblock %}

{% block body %}
    <h1>Create new page</h1>

    <form action="{% url 'new_page' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title_of_article" placeholder="Enter title">
        <br><br>
        <textarea name="article" placeholder="Enter text in markdown" style="width: 1000px; height: 500px"></textarea>
        <br>
        <input type="submit" value="Create">
    </form>

{% endblock %}